<div class="container">
  <button (click)="tinyAlert()">Simple Notification</button>

  <button (click)="successNotification()">Sucess Notification</button>

  <button (click)="alertConfirmation()">Show me Confirmation</button>
  <router-outlet></router-outlet>
  <app-student-list
    [getDatas]="student"
    [hero]="data"
    (selectedStud)="showIsName($event)"
  ></app-student-list>
  <!-- <app-child-comp
    [dataFromPar]="parData"
    (xyz)="patentFunction($event)"
  ></app-child-comp> -->
</div>
